.background {
    width: 100%;
    height: 700px;
    display: block;
    position: relative;
    background: linear-gradient(
            to right rgba(69, 5, 243, 0.5),
            rgba(78, 55, 55, 0.5)
        ),
        no-repeat url("../assets/images/banenr4.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.background_content {
    width: 100%;
    height: 100%;
    color: white;
    align-items: baseline;
}

nav {
    margin-top: 50px;
    background-color: #190a49;
    color: white;
    padding: 10px;
    border-radius: 10px;

    ul {
        display: flex;
        list-style-type: none;

        li {
            margin: 0px 10px 0px 20px;
            font-size: 1.5rem;
            cursor: pointer;
            :hover {
                color: #ff0e3b;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
.active {
    color: #ff0e3b;
}

.home {
    margin-top: 50px;
    font-style: bold;

    .home_title {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02rem;
        font-style: italic;
        font-weight: 700;
    }

    .home_subtitle {
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.02rem;
        span {
            font-weight: 900;
            color: #ac203a;
        }
        @media (max-width: $mobile_width) {
            margin-bottom: 0px;
            margin-top: 2px;
        }
    }
}

.call_button {
    height: 4em;
    width: 10em;
    background-color: rgb(235, 74, 74);
    @media (max-width: $mobile_width) {
        float: right;
    }
    cursor: pointer;
    border: solid 2px transparent;
    text-align: center;
    overflow: hidden;
    transition: all 200ms ease;

    :hover {
        opacity: 0.5;
    }
}
